In [1]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
# Loading the dataset

data = pd.read_csv('Online Retail3.csv')

C:\Users\hp\AppData\Local\Temp\ipykernel_2516\2183891903.py:3: DtypeWarning: Columns (0,1,2,4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Online Retail3.csv')

In [3]:
# Showing the data

data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,01/12/2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,01/12/2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,01/12/2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,01/12/2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,01/12/2010 08:26,3.39,17850.0,United Kingdom

In [4]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,01/12/2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,01/12/2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,01/12/2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,01/12/2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,01/12/2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# The columns in the data

data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [6]:
 

data.shape

(541909, 8)

In [7]:
# Checking whether there is any null values or not

data.isnull().values.any()

True

In [8]:
# As the previous cell told us that there are some null values. So, let's find them!

data.isnull().sum()

InvoiceNo      526178
StockCode      526178
Description    526238
Quantity       526178
InvoiceDate    526178
UnitPrice      526178
CustomerID     531141
Country        526178
dtype: int64

In [9]:
#Data Preprocessing

In [10]:
# Stripping extra spaces in the description 
data['Description'] = data['Description'].str.strip() 
  
# Dropping the rows without any invoice number 
data.dropna(axis = 0, subset =['InvoiceNo'], inplace = True) 
data['InvoiceNo'] = data['InvoiceNo'].astype('str') 
  
# Dropping all transactions which were done on credit 
data = data[~data['InvoiceNo'].str.contains('C')]

In [11]:
# Let's see the countries in our dataset

data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland'], dtype=object)

In [12]:
# Splitting the data according to the region of transaction
# Transactions done in France 
basket_France = (data[data['Country'] =="France"] 
          .groupby(['InvoiceNo', 'Description'])['Quantity'] 
          .sum().unstack().reset_index().fillna(0) 
          .set_index('InvoiceNo'))

In [13]:
# Defining the hot encoding function to make the data suitable  

def hot_encode(x): 
    if(x<= 0): 
        return 0
    if(x>= 1): 
        return 1

In [14]:
#Suppose we want to analyze the market trend to United Kingdom!

In [15]:
# Applying one hot encoding 

basket_encoded = basket_France.applymap(hot_encode) 
basket_France = basket_encoded

In [16]:
basket_France.head()

Description,10 COLOUR SPACEBOY PEN,5 HOOK HANGER RED MAGIC TOADSTOOL,ALARM CLOCK BAKELIKE GREEN,ALARM CLOCK BAKELIKE ORANGE,ALARM CLOCK BAKELIKE PINK,ALARM CLOCK BAKELIKE RED,ASSORTED COLOUR MINI CASES,BASKET OF TOADSTOOLS,BIG DOUGHNUT FRIDGE MAGNETS,BIRD HOUSE HOT WATER BOTTLE,...,STRAWBERRY LUNCH BOX WITH CUTLERY,TABLECLOTH RED APPLES DESIGN,TEA BAG PLATE RED RETROSPOT,TEA PARTY BIRTHDAY CARD,TOOL BOX SOFT TOY,TRADITIONAL WOODEN CATCH CUP GAME,VINTAGE HEADS AND TAILS CARD GAME,VINTAGE SEASIDE JIGSAW PUZZLES,WOODLAND STICKERS,WOODLAND CHARLOTTE BAG
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536370,0,0,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
536852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
536974,0,0,0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0
537065,0,1,1,1,1,1,1,1,0,0,...,1,0,0,0,1,1,0,0,0,0
537463,0,0,0,0,0,0,0,0,1,0,...,1,1,1,1,0,0,0,0,1,1

In [ ]:
# Building the model 
frq_items = apriori(basket_France, min_support = 0.1, use_colnames = True) 
  
# Collecting the inferred rules in a dataframe 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])

C:\Users\hp\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [ ]:
print(rules.head())